body {
  font-size: 16px;
  color: #000;
  background-color: #fff;
  font-family: 'Comic Sans MS', cursive, sans-serif;
}

/** HEADER **/
header {
  border: 1px black;
}

#header-nav {
  background-color: #f6b319;
  border-radius: 0;
}

/** NAVBAR BRAND **/
.navbar-brand {
  position: absolute;
  width: 140px;
  left: 30px;
  text-align: left;
  margin: 0;
  font-weight: bold;
}
.navbar-default .navbar-brand {
  color: black;
}

.navbar-default .navbar-toggle {
  border-color: black;
}


/**NAV-LIST**/
#nav-list {
  margin-top: 10px;
}

#nav-list a {
  color: black;
  text-align: center;
  border: 1px black;
}

#nav-list a:hover {
  background: #E7E7E7;
}

/** Changing color of extended menu **/
@media (max-width: 767px) {
  .navbar-collapse {
    background-color: #E9967E;
  /**background-color: #ff8c00;**/
  }
}

h1 {
  margin-bottom: 40px;
}

#main-content {
  background-color: grey;
  color: black;
  width: 95%;
}

.title-center {
  text-align: center;
  font-weight: bold;
}

@media (max-width: 767px) {
  #main-content {
    width: 80%;
  }
}

h2 {
  margin-bottom: 20px;
}
