body {
  font-size: 16px;
  color: #000;
  background-color: #fff;
  font-family: 'Comic Sans MS', cursive, sans-serif;
}

/** HEADER **/
#header-nav {
  background-color: #f6b319;
  border-radius: 0;
  border: 0;
}

/** NAVBAR BRAND **/
.navbar-brand {
  position: absolute;
  width: 100%;
  left: 30px;
  text-align: left;
  margin:0;
  font-weight: bold;
}
.navbar-default .navbar-brand {
  color: black;
}

/**NAV-LIST**/
#nav-list {
  margin-top: 10px;
}

#nav-list a {
  color: #951C49;
  text-align: center;
}

#nav-list a:hover {
  background: #E7E7E7;
}

/** Changing color of extended menu **/
@media (max-width: 767px) {
  .navbar-collapse {
  background-color: #ff8c00;
  }
}

#main-content {
  background-color: white;
  color: black;
}

.title_center {
  text-align: center;
  font-weight: bold;
}

