body {
  font-size: 16px;
  color: #000;
  background-color: #fff;
  font-family: 'Comic Sans MS', cursive, sans-serif;
}

/** HEADER **/
#header-nav {
  background-color: #f6b319;
  border-radius: 0;
  border: 2px solid black;
  height: 54px;
}

/** NAVBAR BRAND **/
.navbar-brand {
  position: absolute;
  /**bottom: 0;
  top: 0;**/
  width: 140px;
  left: 30px;
  text-align: left;
  margin: 0;
  font-size: 20px;
  font-weight: bold;
}

.navbar-default .navbar-brand {
  color: black;
}

.navbar-default .navbar-toggle {
  border-color: black;
}


/**NAV-LIST**/
#nav-list {
  margin-top: 0px;
}

#nav-list a {
  color: black;
  text-align: center;
  border-bottom: 1px solid black;
  border-top: 0px;
  border-left: 2px solid black;
  border-right: 2px solid black;
}

#nav-list a:hover {
  background: #E7E7E7;
}

.navbar-nav {
  margin: 0px -15px;
}

/** Changing color of extended menu **/
@media (max-width: 767px) {
  .navbar-collapse {
    background-color: #E9967E;
  /**background-color: #ff8c00;**/
  }
}

h1 {
  font-size: 26px;
  font-weight: bold;
  margin-bottom: 40px;
}

h2 {  
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 20px;
}

#main-content {
  background-color: grey;
  color: black;
  width: 95%;
}

.title-center {
  text-align: center;
  font-weight: bold;
}

@media (max-width: 767px) {
  #main-content {
    width: 80%;
  }
}

/** Adjusting Logo**/
@media (min-width: 768px) {
  .navbar > .container .navbar-brand, .navbar > .container-fluid .navbar-brand {
    margin-left: 0px;
  }
}
.container-fluid > .navbar-collapse, .container-fluid > .navbar-header, .container > .navbar-collapse, .container > .navbar-header {
  margin-right: -17px;
  margin-left: -17px;
